
<p><%=@game.current_player.name %> attacked <%= @game.defending_player.name%> !!!!</p>


<div id='okbutton'>
  <form class="" action="/switch_players" method="post">
    <button type="submit" name="attack_player2">Ok</button>
  </form>
</div>
