<!DOCTYPE html>
<html>

<div class="main">


<body>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <div class="main">

  <div id='signinform'>
    <h1>Let's Battle!</h1>
    <form action="/named-players" method="post">
      <label id='player1text' class='sansserif' for="player1">
        Player 1 name:
        <input type="text" name="player1">
      </label>
      <label id='player2text'for="player2">
        Player 2 name:
        <input type="text" name="player2">
      </label>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
