<a href="/attack">Attack</a>

<div style='background-color:coral'>
  <%= @player1.name %> vs. <%= @player2.name %>
</div>
<!-- <button type="submit" name="attack_player2" onclick="href='/attack'">Attack</button> -->

<p><%=@player2.name%>'s HP:<%= @player2.current_hp%> </p>
